:root {
    --bg-light: #eae0d5;
    --text-dark: #2c3e50;
    --font-main: arial, sans-serif

    --h1-bg: #C1ECAF;
    --h1-text: #1e2d2b;
    --h2-text: #74A9CB;
    --h2-border: var(--h1-bg);
    --h3-text: #D67160;

    --list-bg: #e8f8f0;
    --list-border: #A1D69A;
    --strong-text: var(--h3-text);
    --code-bg: #f0f0f0;

    --def-bg: #f2fef9;
    --def-border: var(--h1-bg);
    --def-title: var(--text-dark);

    --nav-bg: var(--h2-text);
    --nav-text: var(--code-bg);

    --footer-bg: var(--h1-bg); 
    --footer-text: var(--h1-text);
}







body {
  font-family: var(--font-main);
  margin: 0;
  padding: 0;
  background-color:var(--nav-bg) #EAE0D5;
}

/* Header-stijl */
header {
  background-color: #EAE0D5;
  color: white;
  text-align: center;
  padding: 20px 0;
}

/* Navigatiebalk */
nav {
  background-color:var(--nav-bg) #EAE0D5;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 15px;
}

nav a {
  color: #EAE0D5;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Hoofdinhoud */
main {
  padding: 20px;
  background-color: #EAE0D5;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Footer-stijl */
footer {
  background-color: #EAE0D5;
  color: white;
  text-align: center;
  padding: 10px 0;
}