
:root {
    --kleur-achtergrond: #EAE0D5;
    --kleur-hoofdtint: #C6AC8F;
    --kleur-tekst: #222;
    --kleur-accent: #5E503F;
    --font-hoofd: 'Arial', sans-serif;
}

body {
    font-family: var(--font-hoofd);
    background-color: var(--kleur-achtergrond);
    color: var(--kleur-tekst);
    margin: 0;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}


header {
    background-color: var(--kleur-hoofdtint);
    color: white;
    text-align: center;
    padding: 1.5rem;
}


nav {
    background-color: var(--kleur-accent);
    padding: 0.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


main {
    padding: 2rem;
    display: grid;
    /* place-items: center; */
}

footer {
    background-color: var(--kleur-hoofdtint);
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}

.afbeeldingen {
    display: flex;
    gap: 23px;
}
